In [1]:
ages=[19,22,19,24,20,25,26,24,25,24]
print(ages)
ages.sort()

print("sorted array:" ,ages)

maximum = max(ages)

print("maximum value:", maximum)

minimum = min(ages)


print("minimum value:",minimum)

ages.append(maximum)

ages.append(minimum)

ages.sort()

print("after adding new elements into the array:", ages)

size = len(ages)

print("number of elements in an array:",size)


import statistics

print("median of the array:",statistics.median(ages))

total = sum(ages)

average = total/size

print("average of elements in an array:" , average)

range = maximum - minimum

print("range of the array:" , range)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted array: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
maximum value: 26
minimum value: 19
after adding new elements into the array: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
number of elements in an array: 12
median of the array: 24.0
average of elements in an array: 22.75
range of the array: 7

In [3]:
dog=dict()
print("empty dictionary:",dog)
dog['name']='twinlkle'
dog['color']='brown'
dog['breed']='puppy'
dog['legs']='4'
dog['age']='2yrs'
print("dictionary with key value pairs:",dog)
student = {'first_name' : 'krishna', 'last_name' : 'basetty', 'gender' : 'male', 'age' : '24', 'marital status' : 'single',
'skills' : 'programming', 'country' : 'USA', 'city' : 'kansas city' ,  'address' : 'overland park'}
print("student disctionary:" , student)
print("lenghth of the dictionary:",len(student))
print("values of particular key:", student['skills'])
print(dog.keys())
print(student.values())

empty dictionary: {}
dictionary with key value pairs: {'name': 'twinlkle', 'color': 'brown', 'breed': 'puppy', 'legs': '4', 'age': '2yrs'}
student disctionary: {'first_name': 'krishna', 'last_name': 'basetty', 'gender': 'male', 'age': '24', 'marital status': 'single', 'skills': 'programming', 'country': 'USA', 'city': 'kansas city', 'address': 'overland park'}
lenghth of the dictionary: 9
values of particular key: programming
dict_keys(['name', 'color', 'breed', 'legs', 'age'])
dict_values(['krishna', 'basetty', 'male', '24', 'single', 'programming', 'USA', 'kansas city', 'overland park'])

In [4]:
sisters=('s1','s2','s3','s4')
brothers=('b1','b2','b3','b4')
print(sisters)
print(brothers)
siblings = sisters + brothers
print(siblings)
siblings = list(siblings)
print(siblings)
siblings.append('mother')
siblings.append('father')
print(siblings)
family_members = tuple(siblings)
print(family_members)

('s1', 's2', 's3', 's4')
('b1', 'b2', 'b3', 'b4')
('s1', 's2', 's3', 's4', 'b1', 'b2', 'b3', 'b4')
['s1', 's2', 's3', 's4', 'b1', 'b2', 'b3', 'b4']
['s1', 's2', 's3', 's4', 'b1', 'b2', 'b3', 'b4', 'mother', 'father']
('s1', 's2', 's3', 's4', 'b1', 'b2', 'b3', 'b4', 'mother', 'father')

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
length=len(it_companies)
print(length)
it_companies.add('Twitter')
print(it_companies)
elements=['tcs','wipro']
it_companies.update(elements)
print(it_companies)
it_companies.remove('Amazon')
print(it_companies)
print("#remove() method will raise an error if the specified item does not exist, and the discard() method will not.")
set3=A.union(B)
print(set3)
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
A.update(B)
print(A)
B.update(A)
print(B)
C=A.symmetric_difference(B)
print(C)
A.clear()
B.clear()
print(A)
print(B)
age_set=set(age)
print(age_set)
age_length=len(age_set)
print(age_length)
print(len(age))

7
{'Apple', 'Google', 'Facebook', 'Microsoft', 'Twitter', 'Amazon', 'IBM', 'Oracle'}
{'Google', 'tcs', 'Facebook', 'Oracle', 'wipro', 'Microsoft', 'Apple', 'Amazon', 'Twitter', 'IBM'}
{'Google', 'tcs', 'Facebook', 'Oracle', 'wipro', 'Microsoft', 'Apple', 'Twitter', 'IBM'}
#remove() method will raise an error if the specified item does not exist, and the discard() method will not.
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
set()
set()
set()
{19, 22, 24, 25, 26}
5
8

In [6]:
radius = int(input('enter the radius') )
pi = 3.14
_area_of_circle = pi * radius ** 2
print(_area_of_circle)
_circum_of_circle = 2*pi*radius
print(_circum_of_circle)

enter the radius30
2826.0
188.4

In [9]:
str1 = 'I am a teacher and I love to inspire and teach people'
words = str1.split(' ')
unique_list = []
count=0
for x in words:
    if x not in unique_list:
        unique_list.append(x)
for x in unique_list:
    count=count+1
print(count)

10

In [12]:
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = '"The area of circle with a radius %d is %.d meters square"' %(radius, area) 
print(formated_string)

"The area of circle with a radius 10 is 314 meters square"

In [8]:
print("Name\tAge\tCountry\tCity\nAsabeneh 250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh 250	Finland	Helsinki

In [11]:
W1=[int(num) for num in input("enter weights in lbs").split(" ")]
W_kg=[]
for i in W1:
    W_kg.append(round(i/2.205,4))
print("weights in kgs: ",W_kg)

enter weights in lbs140 130 150
weights in kgs:  [63.4921, 58.9569, 68.0272]